<mat-card>
  <mat-card-title>About</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div>
<!--    <p>-->
<!--      <span> • Software Aficionado </span>-->
<!--      <span> • Adaptive Thinker </span>-->
<!--      <span> • Avid Reader </span>-->
<!--      <span> • Debugging Connoisseur </span>-->
<!--    </p>-->
      <p>
        I am a software developer that enjoys all aspects and life-cycles of programming
        —whether that might include designing a new feature or project,
        to debugging, refactoring and maintaining existing code bases.
      </p>
      <p>
        I am not just goal-oriented, but also a process-focused developer that believes desirable
        outcomes are on the continuous pursuit for a cleaner, more scalable, and more sustainable
        solution —starting with one line of code at a time.
      </p>
      <p>
        I am not averse to learning, whether that might be a back-end programming language or the
        latest JavaScript framework or library. I like to learn, actually, I want to learn —whether
        that’s through diving into the technical documentation online or by seeking guidance and
        feedback from my coworkers or our fellow developers in the community.
      </p>
      <p>
        If you would like to check out some of the content I have shared, check out my medium blog
        <a href="https://medium.com/@danrodz" target="_blank">@danrodz</a>
      </p>
    </div>
  </mat-card-content>
</mat-card>
